@page "/departments/edit/{id:int}"
@using DBScott
@inject NavigationManager NavManager

<h3>Edit Deptartment</h3>

@if (selected == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <EditForm Model="selected" OnValidSubmit="Save" FormName="DeptEditForm" Enhance>
        <input type="hidden" name="selected.DEPTNO" value="@selected.DEPTNO" />
        <div class="form-group">
            <label>
                <InputText @bind-Value="selected.DNAME"/>
            </label>
        </div>
        <div class="form-group">
            <label>
                <InputText @bind-Value="selected.LOC"/>
            </label>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    BetterDBAccess db = new BetterDBAccess();

    [SupplyParameterFromForm]
    Dept selected { get; set; } = new();

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(selected.DNAME))
        {
            var data = db.GetDept(Id);
            if (data != null)
            {
                selected = data;
            }
        }
    }

    private void Save()
    {
        db.UpdateDept(selected);
        NavManager.NavigateTo("/departments");
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/departments");
    }
}